<page-title pageTitle='New Project'></page-title>

<div class="wrapper">
    <mat-card class="mat-elevation-z10">
        <mat-card-title>Create New Project</mat-card-title>
        <mat-card-content>
            <form [formGroup]="newProjectForm" class="projectForm">
                <mat-form-field appearance="outline">
                    <mat-label>Project Name</mat-label>
                    <input matInput formControlName="name" #projectName maxlength="128">
                    <mat-hint align="end">{{newProjectForm.get('name').value.length || 0}}/128</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Project Description</mat-label>
                    <textarea class="projectDescription" matInput formControlName="description" #projectDescription maxlength="512"></textarea>
                    <mat-hint align="end">{{newProjectForm.get('description').value.length || 0}}/512</mat-hint>
                </mat-form-field>
            </form>

        </mat-card-content>
        <mat-card-actions align="center">
            <button mat-raised-button (click)="createProject()" color="primary" [disabled]="!newProjectForm.valid">
                <mat-icon>check</mat-icon> Submit
            </button>
        </mat-card-actions>
    </mat-card>
</div>