<div class="wrapper">
    <mat-card class="card mat-elevation-z10">
        <mat-card-title>
            Login
        </mat-card-title>
        <mat-card-content>
            <mat-divider>
            </mat-divider>
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Sign In">
                    <div class="tab">
                        <form [formGroup]="emailSignIn" class="form" (ngSubmit)="userSvc.login(emailSignIn.value)">
                            <mat-form-field>
                                <input type="email" matInput placeholder="example@domain.com" formControlName="email">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password" formControlName="password">
                            </mat-form-field>
                            <div>
                                <button mat-stroked-button type="submit" [disabled]="!emailSignIn.valid">Sign
                                    In</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Register">
                    <div class="tab">
                        <form [formGroup]="emailSignUp" class="form" (ngSubmit)="userSvc.register(emailSignUp.value)">
                            <mat-form-field>
                                <input type="email" matInput placeholder="example@domain.com" formControlName="email">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Password" formControlName="password">
                            </mat-form-field>
                            <mat-form-field>
                                <input type="password" matInput placeholder="Confirm password"
                                    formControlName="confirmPassword">
                                <mat-error *ngIf="emailSignUp.get('confirmPassword').invalid">Passwords do not match.
                                </mat-error>
                            </mat-form-field>
                            <div>
                                <button mat-stroked-button type="submit" [disabled]="!emailSignUp.valid">Sign
                                    In</button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>