<div class="wrapper">
    <mat-card class="card mat-elevation-z10">
        <mat-card-title>
            Profile Setup
        </mat-card-title>
        <mat-card-content>
            <div class="tab">
                <form [formGroup]="profileSetupForm" class="form" (ngSubmit)="updateProfile()">
                    <mat-form-field appearance="outline">
                        <mat-label>Display Name</mat-label>
                        <input type="text" matInput placeholder="Ex. John Doe" formControlName="displayName">
                        <mat-hint *ngIf="(userSvc.profileInfo | async)?.username === profileSetupForm.get('displayName').value">Display name must be different than your
                            username.</mat-hint>
                    </mat-form-field>
                    <div style="margin-top: 1em;">
                        <button mat-stroked-button type="submit" [disabled]="!profileSetupForm.valid || (userSvc.profileInfo | async).username === profileSetupForm.get('displayName').value">Submit
                        </button>
                    </div>
                    <mat-error *ngIf="errMsg">{{errMsg}}</mat-error>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>