mat-form-field {
    min-width: 20vw;
    max-width: 20vw;
}

mat-label {
    font-size: large;
}

.projectDescription {
    overflow: auto;
}

.projectDescription::-webkit-scrollbar {
    width: 10px;
  }
  
.projectDescription::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px white;
    border-radius: 10px;
}

.projectDescription::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 50px #673ab7;
}

.innerTableContainer::-webkit-scrollbar {
    width: 10px;
  }
  
.innerTableContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 50px white;
    border-radius: 10px;
}

.innerTableContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 50px #673ab7;
}

.innerTableContainer {
    overflow: auto;
    height: 40vh; 
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

.mat-cell,
.mat-header-cell {
  display: table-cell;
  padding: 10px 10px;
  vertical-align: middle;
  max-width: 300px;
}
.mat-row,
.mat-header-row {
  display: table-row;
}

mat-form-field {
  display: block;
}

textarea {
  height: 7.5vh;
}

textarea.mat-input-element {
  resize: none;
}

