.component {
    .wrapper {
        display: grid;
        padding: 0px 2%;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    mat-card-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }

    mat-form-field {
        width: 100%;
    }

    mat-label {
        font-size: large;
    }
    
    textarea {
        height: 7.5vh;
    }
    
    textarea.mat-input-element {
        resize: none;
    }

    .projectDescription {
        overflow: auto;
    }
    
    .projectDescription::-webkit-scrollbar {
        width: 5px;
      }
      
    .projectDescription::-webkit-scrollbar-track {
        box-shadow: inset 0 0 50px white;
        border-radius: 10px;
    }
    
    .projectDescription::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 50px #78909c;
    }
      

    .mat-card::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
      
    .mat-card::-webkit-scrollbar-track {
        box-shadow: inset 0 0 50px white;
        border-radius: 10px;
    }
    
    .mat-card::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 50px #78909c;
    }

    @media only screen and (max-width: 850px) {
        textarea {
            height: 15vh;
        }
    }
}

