.wrapper {
    display: flex; 
    flex-flow: column; 
    height: calc(100vh - 64px);
    padding: 0px 20px;
}

.title {
    flex: 0 1 auto;
}

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
}

mat-form-field {
    min-width: 20em;
    max-width: 20em;
}


mat-label {
    font-size: large;
}

textarea {
    height: 7.5vh;
}
  
textarea.mat-input-element {
    resize: none;
}