.wrapper {
    display: flex; 
    flex-flow: column; 
    height: calc(100vh - 64px);
    max-width: 100vw;
    overflow-x: auto;
    padding: 0px 20px;
}

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
}

.requirementDetails {
    display: flex;
    align-items: center;
}

.requirementDetailFields {
    display: flex; 
    flex-flow: column wrap;
}

.charts {
    max-width: 100%; 
    overflow-x: auto;
}

mat-form-field {
    min-width: 20em;
    max-width: 20em;
}

mat-label {
    font-size: large;
}

textarea {
    height: 7.5vh;
}
  
textarea.mat-input-element {
    resize: none;
}

@media only screen and (max-width: 850px) {

    .wrapper {
        max-width: calc(95vw);
        padding: 0px 2%;
        overflow-x: hidden;
    }

    .requirementDetails {
        flex-flow: column wrap;
        max-width: 95vw;
        align-items: center;
    }

    .requirementDetailFields {
        display: unset; 
        flex-flow: unset;
    }

    textarea {
        height: 15vh;
    }

    mat-form-field {
        min-width: 100%;
        max-width: 100%;
    }
}