<div class="wrapper">
    <page-title pageTitle='Project Tracking'></page-title>

    <div class="content" #containerRef>
        <div>
            <form [formGroup]="projectSelectForm" class="form">
                <mat-form-field appearance="outline" style="margin-right: 10px;">
                    <mat-label>Project</mat-label>
                    <mat-select formControlName="project">
                        <mat-option *ngFor="let proj of projects" [value]="stringify(proj)">{{proj.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Requirement</mat-label>
                    <mat-select formControlName="requirement">
                        <mat-option *ngFor="let req of selectedProject?.requirements" [value]="stringify(req)">
                            {{req.reqId}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div>
            <mat-slide-toggle [formControl]="detailSelect" color="primary">Detailed View
            </mat-slide-toggle>
        </div>
        <div class="requirementDetails" *ngIf="projectSelectForm.valid">
            <div class="requirementDetailFields">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="selectedRequirement.description" readonly></textarea>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Type</mat-label>
                    <input matInput [(ngModel)]="selectedRequirement.type" readonly>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phase</mat-label>
                    <input matInput [(ngModel)]="selectedRequirement.currentPhase" readonly>
                </mat-form-field>
            </div>
            <div class="charts">
                <ngx-charts-pie-chart *ngIf="!detailSelect.value" [view]="pieView" [scheme]="colorScheme" [results]="pieData" [gradient]="gradient" [legend]="showLegend"
                    [legendPosition]="legendPosition" [labels]="showLabels" [doughnut]="true" [trimLabels]="trimLabels" [legendTitle]="legendTitle">
                    <ng-template #tooltipTemplate let-model="model">
                        <h4>{{model.name}}</h4>
                        <h5>{{model.value}} hrs</h5>
                    </ng-template>
                </ngx-charts-pie-chart>
                <ngx-charts-pie-grid *ngIf="detailSelect.value" [view]="detailedView" [scheme]="colorScheme" [results]="pieData" [maxLabelLength]="30">
                    <ng-template #tooltipTemplate let-model="model">
                        <h4>{{model.name}}</h4>
                        <h5>{{model.value}} hrs</h5>
                    </ng-template>
                </ngx-charts-pie-grid>
            </div>
        </div>
    </div>
</div>