/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.padding-10 {
    padding: 10px 10px 0px 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.progressSpinnerOverlay {
    background-color: #0000001f;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: grid;
}

table {
    height: 100%;
}
