/* You can add global styles to this file, and also import other style files */
@import "./theme";

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}


.padding-10 {
    padding: 10px 10px 0px 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.progressSpinnerOverlay {
    background-color: #0000001f;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    display: grid;
}

.red-snackbar {
    background-color: #F32013 !important;
    color: white !important;
}

.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
  }

.mat-toolbar.mat-primary {
    z-index: 99999 !important;
}

.mat-menu-item i {
    vertical-align: middle;
    margin-right: 16px;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child, .mat-card-actions .mat-stroked-button:first-child {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

