<h2 mat-dialog-title>
    Add Requirement
</h2>
<mat-dialog-content [formGroup]="addRequirementForm">
    <mat-form-field appearance="outline">
        <mat-label>Requirement Description</mat-label>
        <textarea matInput formControlName="description">
        </textarea>
        <mat-hint align="end">{{addRequirementForm.get('description').value.length || 0}}/512</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Requirement Type</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of reqTypes | keyvalue: originalOrder" [value]="type.value">
                {{type.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Requirement Phase</mat-label>
        <mat-select formControlName="currentPhase">
            <mat-option *ngFor="let phase of reqPhases | keyvalue: originalOrder" [value]="phase.value">
                {{phase.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div style="text-align: right;">
        <button mat-raised-button color="primary" [mat-dialog-close]="addRequirementForm.value" [disabled]="!addRequirementForm.valid || !addRequirementForm.dirty">
            <mat-icon>done</mat-icon> Submit
        </button>
        <button mat-raised-button mat-dialog-close>
            <mat-icon>close</mat-icon> Cancel
        </button>
    </div>
</mat-dialog-actions>