<h2 mat-dialog-title>
    Add Risk
</h2>
<mat-dialog-content [formGroup]="addRiskForm">
    <mat-form-field appearance="outline">
        <mat-label>Risk Description</mat-label>
        <textarea matInput formControlName="description">
        </textarea>
        <mat-hint align="end">{{addRiskForm.get('description').value.length || 0}}/512</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Risk Status</mat-label>
        <mat-select formControlName="status">
            <mat-option *ngFor="let status of statuses | keyvalue: originalOrder" [value]="status.value">
                {{status.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div style="text-align: right;">
        <button mat-raised-button color="primary" [mat-dialog-close]="addRiskForm.value" [disabled]="!addRiskForm.valid || !addRiskForm.dirty">
            <mat-icon>done</mat-icon> Submit
        </button>
        <button mat-raised-button mat-dialog-close>
            <mat-icon>close</mat-icon> Cancel
        </button>
    </div>
</mat-dialog-actions>