<h2 mat-dialog-title>
    Edit Risk
</h2>
<mat-dialog-content [formGroup]="editRiskForm">
    <mat-form-field appearance="outline">
        <mat-label>Risk Description</mat-label>
        <textarea matInput formControlName="description">
        </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Risk Status</mat-label>
        <input matInput formControlName="status">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div style="text-align: right;">
        <button mat-raised-button color="primary" [mat-dialog-close]="editRiskForm?.value"
            [disabled]="!editRiskForm?.valid || !editRiskForm.dirty">
            <mat-icon>done</mat-icon> Submit
        </button>
        <button mat-raised-button mat-dialog-close>
            <mat-icon>close</mat-icon> Cancel
        </button>
    </div>
</mat-dialog-actions>